.account {
  main {
    gap: 3rem;
  }

  message-element {
    margin: 0 2rem;
  }

  article {
    background: var(--background-8);
    border: 1px solid var(--border-1);
    border-radius: 0.5rem;
    gap: 2rem;
    /*margin: 0 2rem;*/
    padding: 2rem;

    &:first-child {
      margin-top: 2rem;
    }

    p {
      line-height: 1.875;
    }
  }

  h1 {
    font-size: 1.875rem;
    line-height: 1.2;
  }

  form {
    gap: 2rem;
  }

  label {
    gap: 0.5rem;
  }

  input {
    color: var(--color-4);
    font-size: 1rem;
    height: 2.25rem;
    padding: 0.5rem 0.75rem;
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  :where(.button) {
    align-self: start;
  }
}

account-element {
  h2 {
    font-size: 1.875rem;
    line-height: 1.2;
  }
}
