dialog[open]:has(address-edit) {
  &[open] {
    background: var(--background-1);
    border: 1px solid var(--border-1);
    border-radius: 0.5rem;
    box-sizing: border-box;
    left: 50%;
    margin: 0;
    max-height: 90vh;
    max-width: calc(100% - 2rem);
    overflow: auto;
    padding: 1.5rem;
    position: fixed;
    top: 50%;
    translate: -50% -50%;
    width: 100%;
  }

  button[name="close"] {
    position: absolute;
    top: 1rem;
    right: 1rem;
  }
}

dialog address-edit {
  header {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
  }

  h2 {
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 1;
  }

  p {
    color: var(--color-6);
    font-size: 0.875rem;
    line-height: 1.5;
  }
}
