address-edit {
  header {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
  }

  h2 {
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 1;
  }

  p {
    color: rgb(148, 163, 184);
    font-size: 0.875rem;
    line-height: 1.5;
  }
}
