addresses-element {
  ul {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  li {
    display: flex;
    flex-direction: row;
    padding-bottom: 2rem;

    &:not(:last-child) {
      border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    }

    button {
      align-self: center !important;
    }
  }

  p {
    flex-grow: 1;
  }
/*
  dialog[open] {
    background: rgb(10, 10, 10);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 0.5rem;
    left: 50%;
    margin: 0;
    max-height: 90vh;
    max-width: calc(100% - 2rem);
    overflow: auto;
    padding: 1.5rem;
    position: fixed;
    top: 50%;
    translate: -50% -50%;
    width: 100%;
  }
*/
}
