:root {
  color-scheme: light dark;
}

html,
:host {
  line-height: 1.5;
}

a,
strong {
  color: light-dark(rgb(0, 0, 0), rgb(255, 255, 255));
}

article,
form,
label {
  display: flex;
  flex-direction: column;
}

article,
form {
  gap: 1rem;
}

body {
  /*background: light-dark(rgb(255, 255, 255), rgb(0, 0, 0));*/
  background: rgb(10, 10, 10);
  color: light-dark(rgb(46, 42, 36), rgb(209, 213, 219));
  font-family: Geist;
  margin: 0;

  &:has(dialog[open]) {
    overflow: hidden;
  }
}

/*button,*/
.button,
input,
label,
select,
textarea {
  color: inherit;
  font-size: 0.875rem;
}

/*button,*/
.button,
input,
select,
textarea {
  font-family: Geist;
}

/*button,*/
.button {
  align-items: center;
  border: none;
  cursor: pointer;
  display: inline-flex;
  font-size: 0.875rem;
  font-weight: 500;
  text-decoration: none;

  &.primary,
  &.secondary {
    border-radius: 0.25rem;
    box-sizing: border-box;
    height: 2.5rem;
    justify-content: center;
    padding: 0.5rem 1rem;
    text-align: center;
  }

  &.primary {
    background: rgb(248, 250, 252);
    color: rgb(15, 23, 42);

    &[disabled] {
      opacity: 0.5;
    }

    &:not([disabled]):hover {
      background: rgba(248, 250, 252, 0.9);
    }
  }

  &.secondary {
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: rgb(20, 20, 20);
    color: rgb(248, 250, 252);
  }
}

dd,
dl,
h1,
h2,
h3,
ol,
p,
ul {
  margin: 0;
}

dialog {
  border: none;
  box-sizing: border-box;
  display: flex;
  height: 100vh;
  margin-right: 0;
  max-height: none;
  max-width: none;
  padding: 1rem;
  position: fixed;
  top: 0;
  transition: translate 0.5s ease-in-out;
  translate: -100%;
  width: 75vw;
  z-index: 101;

  &[open],
  > div {
    display: flex;
    flex-direction: column;
  }

  &[open] {
    translate: 0;
  }

  > button {
    background: transparent;
    /*color: gray;*/
    color: rgb(248, 250, 252);
    height: auto;
    padding: 0;
    position: absolute;
    right: 1em;
    top: 1em;

    &,
    &:hover {
      background: transparent;
    }
  }

  > div {
    flex: 1;
    gap: 1rem;
  }
}

::backdrop {
  background: oklab(0 0 0 / 0.8);
}

h1,
h2,
h3 {
  color: light-dark(rgb(0, 0, 0), rgb(255, 255, 255));
  font-weight: 400;
}

h1 {
  font-size: 1.8rem;
}

h2 {
  font-size: 1.5rem;
  font-weight: 700;
}

h3 {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 0.75rem;
}

img {
  display: block;
}

input,
select,
textarea {
  /*background: transparent;*/
  background: rgb(0, 0, 0);
  border: 1px solid rgba(38, 38, 38, 0.8);
  border-radius: 0.25rem;
  box-sizing: border-box;
  /*padding: 0.5rem 0.75rem;*/
  padding: 0.5rem 1rem;

  &:focus {
    outline: 2px solid rgb(255, 255, 255);
  }
}

input {
  height: 2.5rem;
}

label {
  color: gray;
  font-family: GeistMono;
  /*text-transform: uppercase;*/

  &:has([required]) span::after {
    content: " *";
  }
}

ol,
ul {
  list-style: none;
  padding: 0;
}

strong {
  font-weight: 600;
}

textarea {
  resize: none;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
