call-to-action {
  article,
  section {
    display: flex;
    flex-direction: column;
  }
  
  article {
    background: var(--background-4);
    border: 1px solid var(--border-1);
    border-radius: 0.2rem;
    gap: 1rem;
    margin: 0 2rem;
    padding: 1rem;

    @media (min-width: 1441px) {
      align-items: center;
      flex-direction: row;
      justify-content: space-between;
    }
  }

  p {
    color: var(--color-2);

    a {
      color: var(--color-1);
    }
  }

  section {
    > .button {
      padding-left: 2rem;
      padding-right: 2rem;
    }
  }
}
