card-element {
  article {
    background: var(--background-1);
    border: 1px solid var(--border-1);
    border-radius: 0.2rem;
    height: 100%;
  }

  a {
    text-decoration: none;
  }

  img {
    display: block;
    max-width: 100%;
  }

  div {
    color: var(--color-5);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
  }

  h3 {
    color: inherit;
    margin: 0;
  }
}
