checkout-addresses {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  h3 {
    font-weight: 500;
  }

  p {
    color: var(--color-6);
  }

  dialog {
    background: var(--background-1);
    border: 1px solid var(--border-1);
    border-radius: 0.5rem;
    box-sizing: border-box;
    max-height: 90vh;
    position: relative;
    width: calc(100vw - 2rem);
  }

  h2 {
    font-size: 1.125rem;
    text-align: center;
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 3rem;
  }

  li:not(:last-child) {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    padding-bottom: 2rem;
  }

  button[name="close"] {
    position: absolute;
    top: 1rem;
    right: 1rem;
  }
}
