div:has(> checkout-element) {
  gap: 2rem;
}

checkout-element {
  article {
    gap: 2rem;
  }

  section {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  h2 {
    font-size: 1.875rem;
    font-weight: 500;
  }

  p {
    color: var(--color-4);
  }

  .contact {
    > div {
      background: var(--background-4);
      border-radius: 0.5rem;
      padding: 1rem;
    }
  }

  .address {
    > div {
      display: flex;
      flex-direction: row;
    }

    p {
      flex-grow: 1;
      font-weight: 500;
    }

    .button[name="remove"] {
      align-self: center;
    }
  }

  /*
  payment-element {
    button {
      align-self: start;
    }
  }
  */
  .button {
    align-self: start;
  }

  .cart {
    background: var(--background-12);
    border-radius: 0.5rem;
    padding: 2rem;

    ul,
    li {
      display: flex;
      gap: 1rem;
    }

    ul {
      flex-direction: column;
      flex: 1;
    }

    li {
      align-items: center;

      div {
        &:last-child {
          margin-left: auto;
        }
      }

      a {
        border: 1px solid var(--border-1);
        border-radius: 0.5rem;
        display: block;
        height: 4rem;
        overflow: hidden;
        width: 4rem;
      }

      img {
        object-fit: cover;
        height: 100%;
        width: 100%;
      }
    }

    dl {
      align-items: center;
      border-top: 1px solid gray;
      display: flex;
      justify-content: space-between;
      padding-top: 0.5rem;
    }

    dd {
      font-size: 1.875rem;
    }
  }
}
