content-element {
  line-height: 1.75;

  article {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 0 2rem;

    @media (min-width: 1441px) {
      column-gap: 4rem;
      display: grid;
      grid-template-columns: repeat(6, 1fr);
    }
  }

  section {
    &[data-size="ONE_THIRD"] {
      grid-column: span 2;
    }

    &[data-size="HALF"] {
      grid-column: span 3;
    }

    &[data-size="TWO_THIRDS"] {
      grid-column: span 4;
    }

    &[data-size="FULL"] {
      grid-column: span 6;
    }
  }

  ul {
    list-style: disc outside;
    padding-left: 1.625rem;
  }

  li {
    display: list-item;
    margin: 0.5rem 0;
    padding-left: 0.375rem;

    &::marker {
      color: var(--color-11);
    }

    &:has(> ul:first-child) {
      list-style: none;
    }
  }

  table {
    border-collapse: collapse;
  }

  td {
    border: 1px solid var(--border-5);
    padding: 0.5rem;
  }
}
