header-element {
  header {
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    padding: 1rem 2rem 0.5rem;
    position: relative;
    z-index: 20;

    @media (min-width: 1441px) {
      box-sizing: border-box;
      margin-left: auto;
      margin-right: auto;
      max-width: 86rem;
      padding: 2rem;
      width: 100%;
    }

    &,
    > div {
      display: flex;
    }
    
    mobile-menu,
    > div {
      flex: 1;
    }

    > div {
      justify-content: end;
    }

    > a {
      color: var(--color-1);
      font-size: 0.875rem;
      font-weight: 500;
      line-height: 1.25rem;

      img {
        height: 34px;
        object-fit: cover;
        object-position: left;
        width: 34px;
      }
    }

    lucide-icon {
      width: 1rem;
    }

    a:not(:hover) {
      text-decoration: none;
    }
  }

  dialog {
    background: var(--background-1);
    border: none;
    box-sizing: border-box;
    display: flex;
    height: 100vh;
    max-height: none;
    max-width: none;
    padding: 1rem;
    position: fixed;
    top: 0;
    transition: translate 0.5s ease-in-out;
    width: 75vw;
    z-index: 101;

    &[open] {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      translate: 0;
    }

    > button {
      background: transparent;
      color: var(--color-4);
      height: auto;
      padding: 0;
      position: absolute;
      right: 1rem;
      top: 1rem;

      &:hover {
        background: transparent;
      }
    }
  }
}
