hero-element {
  margin-top: 4rem;

  article,
  section {
    display: flex;
    flex-direction: column;
  }

  article {
    gap: 1rem;
    padding: 0 2rem;
  }

  section {
    gap: 1.5rem;
	/*transform: translateY(-2rem);*/

    @media (min-width: 1441px) {
      align-items: center;
      max-width: 36.5rem;
    }
  }

  h1 {
    /*font-weight: normal;*/
    font-weight: 800;
    font-size: 2.25rem;
    line-height: 1.1111111;
    margin: 0;

    @media (min-width: 1441px) {
      font-size: 3.5rem;
      text-align: center;
    }
  }

  p {
    a {
      color: light-dark(rgb(0, 0, 0), rgb(255, 255, 255));
      font-weight: 500;
      text-decoration: underline;
    }

    @media (min-width: 1441px) {
      text-align: center;
    }
  }
}
