login-element {
  form {
    p:last-child {
      display: flex;
      gap: 1rem;
    }

    a {
      font-weight: 500;
    }

    button {
      flex: 1;
    }
  }

  input {
    background: var(--background-1);
  }
}
