media-block {
  article {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0 2rem;
  }

  img {
    border: 1px solid var(--border-1);
    border-radius: 0.8rem;
    max-width: 100%;
  }

  a {
    color: var(--color-1);
    font-weight: 500;
  }
}
