mobile-menu {
  button[name="show"] {
    background: transparent;
    border: 1px solid var(--border-4);
    border-radius: 0.375rem;
    color: var(--color-1);
    padding: 0.825rem;
  }

  dialog {
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    margin-left: 0;
    translate: -100%;

    section {
      display: flex;
      flex-direction: column;
    }

    ul,
    li {
      display: flex;
      flex-direction: column;
    }

    li {
      &:has(.button) {
        margin-top: 1.5rem;
      }
    }

    .button {
      height: 2.25rem;
      width: 100%;
    }
  }

  .store {
    gap: 3rem;

    h2 {
      font-size: 1rem;
    }

    ul {
      font-size: 0.875rem;
      font-weight: 500;
      gap: 1.25rem;
      line-height: 1.5;
    }
  }

  .account {
    gap: 0.5rem;

	h2 {
      border-bottom: 1px solid rgba(255, 255, 255, 0.1);
      font-size: 1.25rem;
      font-weight: 400;
      margin-top: 2.5rem;
      padding-bottom: 1rem;
    }

    ul {
      gap: 0.5rem;
    }
  }
}
