mobile-menu {
  > button {
    background: transparent;
    border: 1px solid oklch(0.371 0 0);
    border-radius: 0.375rem;
    color: white;
    padding: 0.825rem;
  }

  dialog {
    background: rgb(10, 10, 10);
    border-right: 1px solid darkgray;
    margin-left: 0;

    ul {
      display: flex;
      flex-direction: column;

      &:not(:last-child) {
        font-size: 0.875rem;
        font-weight: 500;
        gap: 1.25rem;
        line-height: 1.5;
      }

      &:last-child {
        gap: 0.5rem;
      }
    }

    li:has(.button) {
      margin-top: 1.5rem;
    }
  }

  h2 {
    &:first-child {
      font-size: 1rem;
      margin-bottom: 2rem;
    }

    &:not(:first-child) {
      border-bottom: 1px solid rgba(255, 255, 255, 0.1);
      font-size: 1.25rem;
      margin-top: 2.5rem;
      padding-bottom: 1rem;
    }
  }
}
