div:has(> not-found) {
  gap: 6.5rem;
}

not-found {
  h1 {
    color: var(--color-12);
    font-size: 2.25rem;
    font-weight: 800;
  }

  p {
    color: var(--color-13);
  }

  .button {
    align-self: start;
    height: 2.25rem;
  }
}
