order-item {
  background: rgb(20, 20, 20);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0.5rem 1rem;

  h3 {
    color: oklab(0.983828 -0.00126734 -0.00320476 / 0.5);
    font-family: GeistMono;
    font-size: 0.875rem;
    font-weight: 400;
    letter-spacing: 0.1em;
    margin: 0;
  }

  .status {
    font-family: GeistMono;
    font-size: 0.75rem;
    letter-spacing: 0.1em;

    span {
      background: oklab(0.983828 -0.00126734 -0.00320476 / 0.1);
      border-radius: 0.25rem;
      color: rgb(248, 250, 252);
      display: inline-block;
      line-height: 1.35;
      padding: 0 0.5rem;
    }

    &[data-status="COMPLETED"] {
      span {
        background: rgb(0, 52, 71);
      }
    }
  }

  .created-at {
    color: rgb(248, 250, 252);
    font-size: 1.25rem;
  }

  .items {
    display: flex;
    font-size: 0.75rem;

    > :not(:last-child) {
      &::after {
        content: "\2022";
        margin: 0 0.5rem;
      }
    }
  }

  .button {
    align-self: start;
    height: 2.25rem !important;
    margin-top: 2rem;
  }
}
