order-item {
  background: var(--background-4);
  border: 1px solid var(--border-1);
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0.5rem 1rem;

  h3 {
    color: var(--color-7);
    font-family: GeistMono;
    font-size: 0.875rem;
    font-weight: 400;
    letter-spacing: 0.1em;
    margin: 0;
  }

  .status {
    font-family: GeistMono;
    font-size: 0.75rem;
    letter-spacing: 0.1em;

    span {
      background: var(--background-13);
      border-radius: 0.25rem;
      color: var(--color-4);
      display: inline-block;
      line-height: 1.35;
      padding: 0 0.5rem;
    }

    &[data-status="COMPLETED"] {
      span {
        background: var(--background-14);
      }
    }
  }

  .created-at {
    color: var(--color-4);
    font-size: 1.25rem;
  }

  .items {
    display: flex;
    font-size: 0.75rem;

    > :not(:last-child) {
      &::after {
        content: "\2022";
        margin: 0 0.5rem;
      }
    }
  }

  .button {
    align-self: start;
    height: 2.25rem;
    margin-top: 2rem;
  }
}
