order-element {
  article {
    gap: 1.5rem;
  }
  
  header {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  a:has(> lucide-icon) {
    align-items: center;
    color: oklab(0.983828 -0.00126734 -0.00320476 / 0.5);
    display: flex;
    font-family: GeistMono;
    font-size: 0.75rem;
    font-weight: 500;
    gap: 0.5rem;
    letter-spacing: 0.1em;
    padding: 0.5rem 0.75rem;
    text-transform: uppercase;
    text-decoration: none;
  }

  h1 {
    background: oklab(0.983828 -0.00126734 -0.00320476 / 0.1);
    border-radius: 0.25rem;
    font-family: GeistMono;
    font-size: 0.875rem;
    font-weight: 400;
    letter-spacing: 0.07em;
    padding: 0 0.5rem;
    text-transform: uppercase;
  }

  section {
    background: rgb(20, 20, 20);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 0.5rem;
    padding: 1rem 1.5rem;
  }

  dl {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    > div {
      display: flex;
      flex-direction: column;
      gap: 0.25rem;
    }
  }

  dt {
    color: oklab(0.983828 -0.00126734 -0.00320476 / 0.5);
    font-family: GeistMono;
    font-size: 0.875rem;
    text-transform: uppercase;
  }

  dd {
    color: rgb(248, 250, 252);
  }

  .created-at,
  .amount {
    dd {
      font-size: 1.125rem;
    }
  }

  .status {
    dd {
      font-family: GeistMono;
      font-size: 0.875rem;
      letter-spacing: 0.1em;
    }

    span {
      background: oklab(0.983828 -0.00126734 -0.00320476 / 0.1);
      border-radius: 0.25rem;
      display: inline-block;
      padding: 0 0.5rem;
    }
  }

  .items {
    gap: 0.75rem;
    margin: 1.5rem 0;

    ul {
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }
  }

  .shipping-address {
    gap: 1rem;
  }
}
