page-element {

  .placeholder {
    padding-top: 4rem;

    h1 {
      font-size: 2.25rem;
      line-height: 1.1111111;
    }

    p {
      margin-top: 2rem;
    }
  }

  /*
  main {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    gap: 4rem;
    line-height: 1.75;

    > :not(hero-element) {
      padding: 0 1rem;

      @media (min-width: 1441px) {
        box-sizing: border-box;
        margin-left: auto;
        margin-right: auto;
        max-width: 86rem;
        padding-left: 2rem;
        padding-right: 2rem;
        width: 100%;
      }
    }
  }
  */
}
