app-element:has(product-element) {
  > div {
    gap: 2.5rem;
  }
}

product-element {
  a:has(> lucide-icon) {
    align-items: center;
    color: var(--color-7);
    display: flex;
    font-family: GeistMono;
    font-size: 0.75rem;
    font-weight: 500;
    gap: 0.5rem;
    letter-spacing: 0.1em;
    padding: 0.5rem 0.75rem;
    text-transform: uppercase;
    text-decoration: none;
  }

  article:has(product-gallery) {
    gap: 1.5rem;

    > div {
      background: var(--background-8);
      border: 1px solid var(--border-1);
      border-radius: 0.5rem;
      display: flex;
      flex-direction: column;
      gap: 3rem;
      padding: 2rem;
    }
  }

  /*
  div:has(> ul),
  ul {
    display: flex;
  }

  div:has(> ul) {
    justify-content: center;

    button {
      background: transparent;
      display: block;
      height: auto;
      padding: 0;
    }
  }
  */
}
