product-description {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  h1 {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 2rem;

    @media (min-width: 1441px) {
      font-size: 3.75rem;
      font-weight: 400;
      line-height: 1;
      margin-bottom: 1.5rem;
    }
  }

  price-element {
    color: rgb(248, 250, 252);
    line-height: 1.5;
  }

  p {
    line-height: 1.75;
  }

  .button {
    align-self: start;
  }
}
