product-gallery {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  ul,
  li {
    display: flex;
  }

  ul {
    gap: 1rem;
  }

  li {
    box-sizing: border-box;
    flex: calc((100% - 4rem) / 5) 0 0;
  }

  button {
    border: 1px solid var(--border-1);
    border-radius: 0.5rem;
    overflow: hidden;

    &.active {
      border: 2px solid var(--border-6);
    }
  }

  img {
    height: 100%;
    object-fit: cover;
    width: 100%;
  }
}
