product-element {
  /*padding: 0 1rem;*/

  a:has(> lucide-icon) {
    color: gray;
    display: flex;
    font-family: GeistMono;
    font-size: 0.75rem;
    font-weight: 500;
    gap: 0.5rem;
    text-transform: uppercase;
    text-decoration: none;
  }

  div:has(> product-description) {
    background: rgb(15, 15, 15);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 0.5rem;
    padding: 2rem;
  }

  div:has(> ul),
  ul {
    display: flex;
  }

  div:has(> ul) {
    justify-content: center;

    button {
      background: transparent;
      display: block;
      height: auto;
      padding: 0;
    }
  }

  #gallery-thumbnails {
    ul {
      /*
      gap: 1rem;
      */
    }

    li {
      box-sizing: border-box;
      flex: 20% 0 0;
      padding: 0 0.5rem;
    }
  
    button {
      border: 1px solid darkgray;
      border-radius: 0.5rem;
      overflow: hidden;

      &.active {
        border: 2px solid blue;
      }
    }
  }

  img {
    height: 100%;
    object-fit: cover;
    width: 100%;
  }
}
