shop-element {
  /*margin-top: 2rem;*/

  main > article {
    /*padding: 1rem;*/
    /*padding: 0 2rem;*/

    &,
    > div {
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }

    > div {
      @media (min-width: 1441px) {
        display: grid;
        gap: 2rem;
        grid-template-columns: repeat(3, 1fr);
      }
    }
  }

  form,
  input,
  select {
    width: 100%;
  }

  form {
    gap: 4rem;
    margin-left: auto;
    margin-right: auto;
    max-width: 50rem;
  }

  div:has(> [name="q"]) {
    position: relative;

    lucide-icon {
      position: absolute;
      /*right: 0.5rem;*/
      right: 1rem;
      top: 50%;
      translate: 0 -50%;
    }
  }

  h3 {
    color: var(--color-9);
	font-size: 0.75rem;
	margin-bottom: 0.5rem;
  }

  ul {
    label {
      color: var(--color-4);
      font-family: inherit;
      font-size: 1rem;
      line-height: 1.5;
    }
  }
}
