variant-selector {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  padding: 1rem 0;

  dl {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  dt {
    color: rgb(248, 250, 252);
    font-size: 0.875rem;
  }

  dd {
    column-gap: 1rem;
    display: flex;
    flex-wrap: wrap;
  }

  label {
    border-radius: 0.25rem;
    color: gray;
    font-size: 0.75rem;
    font-weight: 500;
    letter-spacing: 0.1em;
    line-height: 1rem;
    padding: 0.5rem;
    text-transform: uppercase;

    &:has(:disabled) {
      opacity: 0.5;
    }

    &:has(:checked) {
      background: darkgray;
      color: white;
    }
  }
}
